/* colors */
$l:#FFFFFF;
$g1:#BBBBBB;
$g2:#8F8F8F;
$g3:#626262;
$g4:#4C4C4C;
$g5:#2A2A2A;
$d:#1d1d1d;

/* spacing */
$s-03: 4px;
$s-02: 5px;
$s-01: 7px;
$s-0: 10px;
$s-1: 14px;
$s-2: 20px;
$s-3: 28px;
$s-4: 40px;
$s-5: 57px;